<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Mongo"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<target xsi:type="Mongo"
				name="mongoAppLog"
				connectionString="mongodb://localhost:27017"
				collectionName="${date:format=dd-MM-yyyy}_applogs"
                databaseName="FitOsColoursAppLogs"
				cappedCollectionSize="26214400"
				includeDefaults="false">
		</target>
		<target xsi:type="Mongo"
                name="mongoActivityLog"
                connectionString="mongodb://localhost:27017"
                collectionName="${date:format=dd-MM-yyyy}_activitylogs"
                databaseName="FitOsColoursActivityLogs"
                cappedCollectionSize="26214400"
                includeDefaults="false">
		</target>
		<field name="Message" layout="${message}" />
		<field name="User" layout="${event-properties:item=UserId_From_DB}" bsonType="String" />
		<field name="Exception" layout="${exception:format=tostring}" />
	</targets>
	<!-- rules to map from logger name to target -->
	<rules>

		<logger name="appLog" minlevel="info" writeTo="mongoAppLog" />
		<logger name="activityLog" minlevel="info" writeTo="mongoActivityLog" />

	</rules>
</nlog>
</configuration>


